<%= form_with(model: userchat) do |form| %>
  <% if userchat.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(userchat.errors.count, "error") %> prohibited this userchat from being saved:</h2>

      <ul>
        <% userchat.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :message, style: "display: block" %>
    <%= form.text_area :message %>
  </div>

  <div>
    <%= form.label :sender, style: "display: block" %>
    <%= form.number_field :sender %>
  </div>

  <div>
    <%= form.label :receiver, style: "display: block" %>
    <%= form.number_field :receiver %>
  </div>

  <div>
    <%= form.label :user_id, style: "display: block" %>
    <%= form.number_field :user_id %>
  </div>

  <div>
    <%= form.label :username, style: "display: block" %>
    <%= form.text_field :username %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
