<div id="<%= dom_id userchat %>">
  <p>
    <strong>Message:</strong>
    <%= userchat.message %>
  </p>

  <p>
    <strong>Sender:</strong>
    <%= userchat.sender %>
  </p>

  <p>
    <strong>Resever:</strong>
    <%= userchat.receiver %>
  </p>

  <p>
    <strong>User:</strong>
    <%= userchat.user_id %>
  </p>

  <p>
    <strong>Username:</strong>
    <%= userchat.username %>
  </p>

</div>
